<div id="<%= dom_id beer_club %>">
  <p>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

  <% if not beer_club.users.empty? %>
    <p>
      <strong>members:</strong>
      <% beer_club.users.each do |user| %> 
        <span><%= link_to user.username, user %></span>
      <% end %>
    </p>
  <% else %>
    <p>This club doesnt have any members right now.</p>
  <% end %>

</div>
