<p style="color: green"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<p>Established in: <%= @brewery.year %></p>

<p>Beers count: <%= @brewery.beers.count %></p>



<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer_path(beer) %>
 <% end %>
</p>

<p>
  <% if @brewery.average_rating.empty? %>
    Beer has not yet been rated!
  <% else %>
    Brewery has <%= pluralize(@brewery.average_rating.length, 'rating') %> with an average of <%= (@brewery.average_rating.sum / @brewery.average_rating.length) %>
  <% end %>
</p>

<p>
  <%= link_to 'list of beers', beers_path %>
</p>

<div>
  <%= link_to "Edit this brewery", edit_brewery_path(@brewery) %> |
  <%= link_to "Back to breweries", breweries_path %>

  <%= button_to "Destroy this brewery", @brewery, method: :delete %>
</div>
